# Docker Compose 环境变量示例

# 必填变量
POSTGRES_PASSWORD=

# 可选变量及当前安全默认值
# BIND_ADDRESS=0.0.0.0
# DB_POSTGRESDB_DATABASE=postgres
# DB_POSTGRESDB_HOST=db
# DB_TYPE=postgresdb
# DB_WATCHTOWER_ENABLE=false
# EXECUTIONS_DATA_MAX_AGE=12
# EXECUTIONS_DATA_PRUNE_MAX_COUNT=10000
# EXECUTIONS_TIMEOUT=10800
# EXECUTIONS_TIMEOUT_MAX=86400
# GENERIC_TIMEZONE=Asia/Shanghai
# HOST=n8n.localhost
# HOST_DIR=/tmp
# MNT_DIR=/mnt/docker
# N8N_BLOCK_ENV_ACCESS_IN_NODE=false
# N8N_CONTAINER_NAME=n8n
# N8N_DIAGNOSTICS_ENABLED=false
# N8N_DISABLE_UI=false
# N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
# N8N_FORMDATA_FILE_SIZE_MAX=200
# N8N_GIT_NODE_DISABLE_BARE_REPOS=true
# N8N_HIDE_USAGE_PAGE=false
# N8N_HIRING_BANNER_ENABLED=false
# N8N_IMAGE_TAG=1.123.9
# N8N_LOG_LEVEL=warn
# N8N_ONBOARDING_FLOW_DISABLED=true
# N8N_PAYLOAD_SIZE_MAX=32
# N8N_PERSONALIZATION_ENABLED=false
# N8N_RUNNERS_ENABLED=true
# N8N_SECURE_COOKIE=false
# N8N_SECURITY_AUDIT_DAYS_ABANDONED_WORKFLOW=3650
# N8N_TEMPLATES_ENABLED=false
# N8N_VERSION_NOTIFICATIONS_ENABLED=false
# N8N_WATCHTOWER_ENABLE=true
# PORT=5678
# PORT_TASK_RUNNER=5679
# POSTGRES_CONTAINER_NAME=n8n_db
# POSTGRES_IMAGE_TAG=18
# RESOURCES_LIMITS_MEMORY=1G
# TMP_DIR=/tmp
