services:
  db:
    image: postgres:${POSTGRES_IMAGE_TAG:-17}
    container_name: ${POSTGRES_CONTAINER_NAME:-n8n_db}
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ${MNT_DIR:-/mnt/docker}/n8n/db:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: ${RESOURCES_LIMITS_MEMORY:-1G}
    labels:
      - com.centurylinklabs.watchtower.enable=${POSTGRES_WATCHTOWER_ENABLE:-false} # watchtower
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 10
    networks:
      - db_network

  n8n:
    image: n8nio/n8n:${N8N_IMAGE_TAG:-1.122.4}
    container_name: ${N8N_CONTAINER_NAME:-n8n}
    restart: unless-stopped
    ports:
      - ${PORT:-5678}:5678
      - ${PORT_TASK_RUNNER:-5679}:5679
    environment:
      # Database
      - DB_TYPE=${DB_TYPE:-postgresdb}
      ## PostgreSQL
      - DB_POSTGRESDB_DATABASE=${DB_POSTGRESDB_DATABASE:-postgres}
      - DB_POSTGRESDB_HOST=${DB_POSTGRESDB_HOST:-db}
      - DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
      # Deployment
      - N8N_DISABLE_UI=${N8N_DISABLE_UI:-false}
      - N8N_TEMPLATES_ENABLED=${N8N_TEMPLATES_ENABLED:-false}
      - N8N_PERSONALIZATION_ENABLED=${N8N_PERSONALIZATION_ENABLED:-false}
      - N8N_VERSION_NOTIFICATIONS_ENABLED=${N8N_VERSION_NOTIFICATIONS_ENABLED:-false}
      - N8N_DIAGNOSTICS_ENABLED=${N8N_DIAGNOSTICS_ENABLED:-false}
      - N8N_HIRING_BANNER_ENABLED=${N8N_HIRING_BANNER_ENABLED:-false}
      # Endpoints
      - N8N_PAYLOAD_SIZE_MAX=${N8N_PAYLOAD_SIZE_MAX:-32}
      - N8N_FORMDATA_FILE_SIZE_MAX=${N8N_FORMDATA_FILE_SIZE_MAX:-200}
      - WEBHOOK_URL=https://${HOST:-n8n.localhost}/
      # Executions
      - EXECUTIONS_TIMEOUT=${EXECUTIONS_TIMEOUT:-10800}
      - EXECUTIONS_TIMEOUT_MAX=${EXECUTIONS_TIMEOUT_MAX:-86400}
      - EXECUTIONS_DATA_MAX_AGE=${EXECUTIONS_DATA_MAX_AGE:-12}
      - EXECUTIONS_DATA_PRUNE_MAX_COUNT=${EXECUTIONS_DATA_PRUNE_MAX_COUNT:-10000}
      # Logs
      - N8N_LOG_LEVEL=${N8N_LOG_LEVEL:-warn}
      # License
      - N8N_HIDE_USAGE_PAGE=${N8N_HIDE_USAGE_PAGE:-false}
      # Security
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=${N8N_BLOCK_ENV_ACCESS_IN_NODE:-false}
      - N8N_SECURITY_AUDIT_DAYS_ABANDONED_WORKFLOW=${N8N_SECURITY_AUDIT_DAYS_ABANDONED_WORKFLOW:-3650}
      - N8N_SECURE_COOKIE=${N8N_SECURE_COOKIE:-false}
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=${N8N_GIT_NODE_DISABLE_BARE_REPOS:-true}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS:-false} # NO docs
      # Task runner
      - N8N_RUNNERS_ENABLED=${N8N_RUNNERS_ENABLED:-true}
      # Timezone and localization
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE:-Asia/Shanghai}
      # Workflows
      - N8N_ONBOARDING_FLOW_DISABLED=${N8N_ONBOARDING_FLOW_DISABLED:-true}
    volumes:
      - ${MNT_DIR:-/mnt/docker}/n8n/.n8n:/home/node/.n8n
      - ${MNT_DIR:-/mnt/docker}/n8n/data:/data
      - ${TMP_DIR:-/tmp}:/tmp
    deploy:
      resources:
        limits:
          memory: ${RESOURCES_LIMITS_MEMORY:-1G}
    labels:
      - com.centurylinklabs.watchtower.enable=${WATCHTOWER_ENABLE:-true} # watchtower
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 10
    networks:
      - db_network
      - web

networks:
  db_network:
  web:
    external: true
