services:
  qinglong:
    image: whyour/qinglong:${IMAGE_TAG:-debian}
    container_name: ${CONTAINER_NAME:-qinglong}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Shanghai}
      QlBaseUrl: '/'
    volumes:
      - ${MNT_DIR:-/mnt/docker}/qinglong:/ql/data
    tmpfs:
      - /ql/data/dep_cache
    ports:
      - ${PORT:-5700}:5700
    deploy:
      resources:
        limits:
          memory: ${RESOURCES_LIMITS_MEMORY:-1G}
    labels:
      com.centurylinklabs.watchtower.enable: ${WATCHTOWER_ENABLE:-true}
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - web

networks:
  web:
    external: true
