services:
  pgautoupgrade:
    image: pgautoupgrade/pgautoupgrade:${IMAGE_TAG:-18-trixie}
    volumes:
      - ${MNT_DIR:-/mnt/docker}/${DB_DIR:-postgres}:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGAUTO_ONESHOT=${PGAUTO_ONESHOT:-yes}
