services:
  db:
    image: mysql:${MYSQL_IMAGE_TAG:-5.7}
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE:-tucang}
      - MYSQL_USER=${MYSQL_USER:-tucang}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ${MNT_DIR:-/mnt/docker}/tucang/db:/var/lib/mysql
    deploy:
      resources:
        limits:
          memory: ${MYSQL_RESOURCES_LIMITS_MEMORY:-256m}
    networks:
      - tucang

  redis:
    image: redis:7.4
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --save ""
      --appendonly no
    networks:
      - tucang

  view:
    image: tucangcc/tucang-view-sync:${VIEW_IMAGE_TAG:-latest}
    restart: always
    environment:
      - JAVA_OPTS=-Xms128m -Xmx256m -XX:+HeapDumpOnOutOfMemoryError -XX:-OmitStackTraceInFastThrow -XX:+UseG1GC
    volumes:
      - ${MNT_DIR:-/mnt/docker}/tucang/config:/config
      - ${MNT_DIR:-/mnt/docker}/tucang/logs:/logs
    logging:
      options:
        max-size: 0.1g
        max-file: '1'
    ports:
      - ${PORT}:80
    deploy:
      resources:
        limits:
          memory: ${RESOURCES_LIMITS_MEMORY:-800m}
    depends_on:
      - db
      - redis
    networks:
      - tucang
      - web

networks:
  tucang:
  web:
    external: true