# 来源：https://docs.certimate.me/zh-CN/docs/introduction/
# Compose 配置
# BIND_ADDRESS=0.0.0.0
# CONTAINER_NAME=certimate
# IMAGE_TAG=v0.4.30
# MNT_DIR=/mnt/docker
# PORT=8090
# WATCHTOWER_ENABLE=true

# HTTP 代理
# 设置后需要重启 Certimate 才会生效。
# HTTP_PROXY=http://proxy.example.com
# HTTPS_PROXY=http://proxy.example.com
