# 来源：https://bili-sync.amto.cc/
# 必填：视频下载目录，必须是宿主机上的绝对路径
DATA_DIR=

# WebUI 监听
PORT=12345
# BIND_ADDRESS=0.0.0.0

# 镜像版本
# 官方不建议长期使用 latest，部署时应填写明确版本号。
# IMAGE_TAG=2.11.1

# 配置和 Jellyfin / Emby 元数据目录的宿主机根路径
# MNT_DIR=/mnt/docker

# 自动更新
# WATCHTOWER_ENABLE=true
