# Docker Compose 环境变量示例

# 可选变量及当前安全默认值
# CERT_DIR=/mnt/docker
# CONF_DIR=/mnt/docker
# HTML_DIR=nginx_html
# IMAGE_TAG=1
# LOGS_DIR=nginx_logs
# NGINX_DIR=/mnt/docker
# TEMPLATE_DIR=/mnt/docker
# TZ=Asia/Shanghai
# WATCHTOWER_ENABLE=true
