services:
  napcat:
    image: mlikiowa/napcat-docker:${IMAGE_TAG:-latest}
    container_name: ${CONTAINER_NAME:-napcat}
    restart: unless-stopped
    mac_address: ${MAC_ADDRESS:-02:42:ac:11:00:02}
    environment:
      - TZ=${TZ:-Asia/Shanghai}
      - NAPCAT_UID=${NAPCAT_UID} # $(id -u)
      - NAPCAT_GID=${NAPCAT_GID} # $(id -g)
    volumes:
      - ${MNT_DIR:-/mnt/docker}/napcat/config:/app/napcat/config
      - ${MNT_DIR:-/mnt/docker}/napcat/ntqq:/app/.config/QQ
    ports:
      - ${HTTP_PORT:-3000}:3000
      - ${WS_PORT:-3001}:3001
      - ${WEBUI_PORT:-6099}:6099
    labels:
      - com.centurylinklabs.watchtower.enable=${WATCHTOWER_ENABLE:-true}
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - web

networks:
  web:
    external: true
