services:
  postgres:
    image: postgres:${POSTGRES_IMAGE_TAG:-18}
    container_name: ${POSTGRES_CONTAINER_NAME:-postgres}
    restart: unless-stopped
    shm_size: ${SHM_SIZE:-256M}
    ports:
      - ${PORT:-5432}:5432
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ${MNT_DIR:-/mnt/docker}/postgres:/var/lib/postgresql
      - /tmp:/tmp
    deploy:
      resources:
        limits:
          memory: ${RESOURCES_LIMITS_MEMORY:-1G}
    labels:
      - com.centurylinklabs.watchtower.enable=${WATCHTOWER_ENABLE:-true}
    networks:
      - web

networks:
  web:
